* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-xw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
.header-container {
  width: 100%;
  padding-top: 2rem;
}
.header-container .container {
  width: 50%;
}
.header-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.header-container header nav {
  width: 50rem;
}
.header-container header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.6rem;
  font-style: italic;
}
p,
li a,
button {
  font-size: 2.2rem;
  font-family: 'Quicksand', sans-serif;
}
body {
  min-height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}
.main-container {
  width: 80%;
  margin: 0 auto;
}
