@import 'reset';
@import 'variables';
@import 'mixins';
@import 'nav';

//General Styles
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.6rem;
    font-style: italic;
}

p, li a, button {
    font-size: 2.2rem;
    font-family: @font-content;
}

body {
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: @color-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @font-header;
}

//Content Styles

.main-container {
    width: 80%;
    margin: 0 auto;
}