html {
    // scroll-snap-type: y proximity;

    // @media @mobile-max-width {
    //     scroll-snap-type: none;
    // }
    ::-webkit-scrollbar {
        width: 2rem;
    }
    ::-webkit-scrollbar-thumb {
        background: @color-highlight;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: lighten(@color-highlight, 20%);
    }
}

body {
    background-image: url(/img/background-plant-photo.jpg);
    background-size: cover;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    
    
    .top, .bottom {
        min-height: 100vh;
        margin: 0;
        // scroll-snap-align: start;
    }
    
    .how {
        text-align: center;
    }

    h2.content-title {
        text-align: center;
        margin-bottom: 3rem;
    }

    .content {
        margin-bottom: 4rem;
    }

    .main-content {
        .flex(row, center, flex-start);

        .content {
            margin-bottom: 4rem;
        }    

        @media @tablet-max-width {
            .flex(column, space-evenly, center);
        }
        .content-container {
            width: 50%;
            margin-left: 2rem;
            margin-right: 2rem;
    
            @media @tablet-max-width {
                width: 100%;
            }
            
        }

        .product-image-container {
            background-image: url(/img/app-image-standin.jpg);
            background-size: cover;
            background-position: center;
            overflow: hidden;
            border-radius: 10px;
            height: 50rem;
            width: 100%;
            @media @mobile-max-width {
                width: 80%;
                background-image: url(/img/phone-app.png);
            }
        }
    }
}

.cta {
    margin: 2rem auto;
    text-align: center;

    button {
        .primary-button-display();
        font-size: 3rem;
    }
}


.cards {
    .flex(row, center, flex-start);
    flex-wrap: wrap;
    margin-bottom: 4rem;
    
    .team-card {
        width: 20rem;
        margin: 2rem 1.5rem;
        
        .team-description  {
            
            h3 {
                margin-bottom: -1rem;
            }
            
            p {
                font-size: 1.8rem;
            }
        }
        .team-photo {
            border-radius: @button-radius;
            background-size: cover;
            background-position: center;
            height: 20rem;
            width: 100%;
            margin-bottom: 1rem;
            background-image: url(/img/profile-icon.png);
        }

        #tim-photo {
            background-image: url(/img/photo-tim.png);
        }

        #rudy-photo {
            background-image: url(/img/photo-rudy.png);
        }

        #andrew-photo {
            background-image: url(/img/photo-andrew.png);
        }

        #david-photo {
            background-image: url(/img/photo-david.png);
        }

        #vasuki-photo {
            background-image: url(/img/photo-vasuki.png);
        }

        #caleb-photo {
            background-image: url(/img/photo-caleb.png);
        }

        #drew-photo {
            background-image: url(/img/photo-drew.png);
        }
    }
}

.bottom {
    text-align: center;
    .flex(column, space-evenly, center);

    .step {
        width: 500px;
        background: white;
        border-radius: 10px;
        margin-bottom: 2rem;

        p {
            padding: 0 1.5rem;
        }
        .circle {
            margin: 2rem auto 0;
            width: 50px;
            height: 50px;
            box-sizing: content-box;
            color: white;
            padding: 20px;
            border-radius: 50%;
            background: @color-highlight;

            h2 {
                padding-bottom: -1rem;
            }
        }
    }
}
