body {
    background-image: url(/img/background-plant-photo.jpg);
    background-size: cover;
}

.main-container {
    width: 80%;
    margin: 0 auto;

    .product-image-container {
        background-image: url(/img/app-image-standin.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
}

.cta {
    margin: 2rem auto;
    text-align: center;

    button {
        .primary-button-display();
        font-size: 3rem;
    }
}