.flex(@direction, @justify, @align) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.primary-button-display() {

    &:hover {

    }
}

.secondary-button-display() {

    &:hover {
        
    }
}

.nav-display() {

    &:hover {

    }
}