.header-container {
    width: 100%;
    padding-top: 2rem;

    .container {
        width: 50%;
    }
    header {
        .flex(row, space-between, center);
        border-bottom: 1px solid @color-font;

        nav {
            width: 50rem;
            ul {
            .flex(row, space-evenly, center);
            }
        }
    }
}