@import url('https://fonts.googleapis.com/css?family=Quicksand|Ubuntu&display=swap');
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Quicksand', sans-serif;

// Media sizes
@tablet-max-width: ~'(max-width: 1000px)';
@mobile-max-width: ~'(max-width: 500px)';

//Fonts
@font-header: 'Ubuntu', sans-serif;
@font-content: 'Quicksand', sans-serif;

//Colors
@color-font: black;
@color-primary: grey;
@color-secondary: lightgrey;
@color-highlight: green;

