@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap');
// font-family: 'Montserrat', sans-serif;
// font-family: 'Quicksand', sans-serif;

// Media sizes
@tablet-max-width: ~'(max-width: 1000px)';
@mobile-max-width: ~'(max-width: 500px)';

//Fonts
@font-header: 'Montserrat', sans-serif;
@font-content: 'Quicksand', sans-serif;

//Colors
@color-font: rgb(20, 20, 20);
@color-font-contrast: white;
@color-primary: rgb(24, 24, 24);
@color-highlight: rgb(105, 160, 105);
// @color-highlight: #76ac76;

//Etc.
@button-padding: 1rem;
@button-radius: 10px;
